<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading"> <span style="color: #000000">
            MMAJC </span></h2>
        <ul class="contact-list">
          <li>
              {{ site.author | escape }}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
        <i> The content of this website is © 2019under the MIT License</i>
      </div>
      <div class="footer-col footer-col-2">
      </div>
      <div class="footer-col footer-col-3">
        <p>Powered by<a href = "http://www.cea.fr"><img src="{{site.url}}/img/cea.gif", width = 80/></a></p>
        <p><a href = "https://www.cnrs.fr"><img src="{{site.url}}/img/cnrs.gif", width = 80/></a></p>
        <p><a href = "https://www.obspm.fr"><img src="{{site.url}}/img/obspm.png", width = 80/></a></p>
        <p><a href = "https://www.univ-paris-diderot.fr"><img src="{{site.url}}/img/p7.gif", width = 80/></a></p>
        <p><a href = "https://www.sorbonne-universite.fr"><img src="{{site.url}}/img/su.jpg", width = 80/></a></p>
      </div>
    </div>
  </div>
</footer>
