<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">
          <span style="color: #000000">
            © MMAJC 2019
          </span>
        </h2>
      </div>
      <div class="footer-col footer-col-3">
        <div class="column">
          <div class="row">
            <a href = "http://www.cea.fr"><img src="{{site.url}}/img/cea.jpg", width ="120", hspace="10"/></a>
          </div>
          <div class="row">
            <a href = "https://www.cnrs.fr"><img src="{{site.url}}/img/cnrs.png", width ="120", hspace="10"/></a>
          </div>
          <div class="row">
            <a href = "https://www.obspm.fr"><img src="{{site.url}}/img/obspm.jpg", width ="120", hspace="10"/></a>
          </div>
          <div class="row">
            <a href = "https://www.univ-paris-diderot.fr"><img src="{{site.url}}/img/p7.jpg", width ="120", hspace="10"/></a>
          </div>
          <div class="row">
            <a href = "https://www.sorbonne-universite.fr"><img src="{{site.url}}/img/su.png", width ="120", hspace="10"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
